

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Help</title>
    <styles>
        h1 {
            background-color:green
        }
    </styles>
</head>
<body>
    <h1>Help</h1>
    @if (ViewBag.FeatureOn)
    {
        <h1>Only visible with Feature help_content</h1>
    }
   
</body>
</html>
